<head>
    <title>TinyApp</title>
</head>

<body>
    <% if(userObj) { %>
    <h2><%= userObj.email %></h2>
    <form method="POST" action="/logout"><input type="submit" value="Logout"></form>
   
    <% } else { %>
    <a href="/register">Sign Up</a> &ensp; <a href="/login">Login</a>
    <% } %>
</body>