<div class="card">
    <div class="card-body">
        <h1 class="card-title">TinyApp: Lighthouse Labs URL Shortener</h1>
    </div>
</div>

<body style="font-size:20px; padding:50px;">
    <h2>Login to TinyApp</h2>
        
        <form method="POST" action="/login">
            <h3>Email</h3>
            <input type="email" name="email" placeholder="email@example.com">
        
            <h3>Password</h3>
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Login">
        
        </form>
</body>