<head>
    <title>Sign Up</title>
</head>

<% include partials/_header %>

<h1 style="padding-left:275px">TinyApp: Lighthouse Labs URL Shortener</h1>

<h2 style="padding-left:500px">Create an account</h2>


<body style="font-size:20px; padding:50px;">
    <form method="POST" action="/register">
        <h3 style="padding-left:460px">Email &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; Password</h3>
        
        <div style="padding-left:430px">
            <input type="email" name="email" placeholder="user@example.com">
            &ensp; &ensp; &ensp; &ensp; &ensp;
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Register">
        </div>
    </form>
</body>