<head>
    <title>Shortened URL</title>
</head>

<% include partials/_header %>

<div class="card">
    <div class="card-body">
        <h1 class="card-title">TinyApp: Lighthouse Labs URL Shortener</h1>
    </div>
</div>
    
<body style="font-size:20px; padding:50px;">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">ShortURL: <strong><%= shortURL %></strong>
            </h2>
        </div>
    </div>

    <form action="/urls" method="POST">
        <input id="longURL" type="text" name="longURL" placeholder="<%= longURL.URL %>" style="width: 300px">
        <input type="submit" value="Edit">
    </form>
</body>