<head>
    <title>Shortened URL</title>


</head>

<% include partials/_header %>

<h1 style="padding-left:275px">TinyApp: Lighthouse Labs URL Shortener</h1>
<h2 style="padding-left:500px">Your New TinyURL</h2>
    
<body style="font-size:20px; padding:50px;">
    <h3 style="padding-left:430px; margin: 0">
        <a href="http://www.localhost:8080/u/<%= shortURL %>">http://www.localhost:8080/u/<%= shortURL %></a>
    </h3>
    <h4 style="padding-left:460px;">( Go back to your <a style="text-decoration: none" href="/urls/">TinyURL collection</a> )</h4>
    <h3 style="padding-left:575px">- OR -</h3>
    <h2 style="padding-left:490px">Transform it again!</h2>
    <form style="padding-left:450px" action="/urls/<%= shortURL %>" method="POST">
        <input id="longURL" type="text" name="longURL" placeholder="<%= longURL.URL %>" value='http://' style="width: 300px">
        <input type="submit" value="Edit">
    </form>
</body>