<!-- The long URL and its shortened form -->

<!-- For example, if the ID of the long url was b2xVn2, then the url would look like /urls/b2xVn2 in the browser -->

<!-- Fill out the urls_show.ejs template to display the following:
The long URL and its shortened form. -->

<header>
    <% include partials/_header %>
</header>

<h1>ShortURL: <strong><%= shortURL %></strong></h1>
    <br>
    
    <form action="/urls/<%= shortURL %>/update" method="POST" style="margin:150px;">
    
        <label for="updateURL">Enter a URL:</label>
    
        <input id="updateURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
      
        <input type="submit" value="Submit">
    
    </form>