<!-- Use the urls_index.ejs template to display all the URLs and their shortened forms, but before you can do that, you'll need to pass it the URL data from express_server.js. -->

<!DOCTYPE html>
<html lang="en">

<head>

    <title>TinyApp</title>

</head>

<header>
    <% include partials/_header %>
</header>

<body>

    <div>
    <h1>URLs: Uniform Resource Locators</h1>
    
    <h2>Shortened URLs</h2>
            <!-- list of URLs and shortened URLS -->
            <ul><% for (let url in urls){ %>
                
                <li><%= url %> → <%= urls[url] %> &ensp;&ensp; 
                    
                    <!-- <button type="button" id="delete" class="btn btn-primary btn-sm">Delete URL</button> -->
                </li>
                <form action="/urls/<%= url %>/delete" method="POST">
                    <input type = 'submit' value = 'delete'/>
                </form>
                <a href='/urls/<%= url %>'>Edit</a>
                <br>

                <% } %>
            </ul>
            
            <!-- a link for shortening a new URL; dead link for now (href='#') -->
            <link href='#'>
    </div>

</body>

</html>