<head>
    <title>New Tiny URL</title>
</head>

<% include partials/_header %>

<h1 style="padding-left:275px">TinyApp: Lighthouse Labs URL Shortener</h1>
<h2 style="padding-left:400px">The Tinyfier: Transform a Long URL</h2>

<body style="font-size:20px; padding:50px;">
    <form action="/urls" method="POST">
      <label for="longURL" style="padding-left:390px">Enter a URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
      <input type="submit" value="Submit">
    </form>

</body>

</html>